# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c9d210f63dc1f4640815fc4845e3f28e880e50e241aba4356e8e0e4107e40f4c8bb040673950f62b435b98ea41b10cf599886f43087a9dfa9f4418e65e9913c4

test:
  secret_key_base: 878e71dd73afb66ccac6131fc933ad7118e9a60e7b6586cf53481114f48195045435c42a547678ce99a2c09d73ff117f2db37e3945a1fe3a50f4d061aa733386

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
